<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
      
      {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" align="left"/>
        {% endif %}
        
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: "LibreLab UNSL" }}</a></h1>

        

        <p>{{ page.description | default:  }}</p>
        
        

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <a href="https://instagram.com/librelab.unsl"><img src="/assets/img/ig.png" alt="Instagram" width="36" height="36">
        <a href="https://github.com/labunsl/LibreLabUNSL"><img src="/assets/img/github.png" alt="Repositorio GitHub" height="36"></a>
        <br>
	<a href="http://unsl.edu.ar">Universidad Nacional de San Luis</a> 🇦🇷
	
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
